footer {
    background: #333333;
    text-align: center;
    color: #cccccc;
    .txt-footer {
        border-bottom: 1px solid #FFF;
        padding: 30px;
        font-size: 14px;
        font-family: 'Raleway Bold';
    }
}