<section class="banner-container" data-wow-duration="1s" id="home">
    <div class="container-fluid content" style="background-image: url('images/banner.jpg')">
        <div class="container">
            <div class="item">
                <div class="content-banner">
                    <p class="lato wow lightSpeedIn">WHAT ARE YOU WATCHING FOR?</p>
                    <h3 class="w3-animate-left">LET'S BE CREATIVE</h3>
                    <p class="text-img">
                        <span class="bold">S</span>tartuprr, NEXT GENERATION & HIGHLY FLEXBLE WORDPRESS THEME!</p>
                    <h3 class="img-icon">
                        <div class="line"></div>
                        <img src="images/icon-1.png" alt="">
                        <span class="bold">START</span> DOING THAT
                        <img src="images/icon-2.png" alt="">
                        <div class="line"></div>
                    </h3>
                    <div class="row btn_banner">
                        <ul class="nav-list">
                            <li class="item-nav">
                                <a href="#portfolio" class="title-nav btn wow zoomIn">
                                    <img src="images/scroll-icon.png" alt="">
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</section>