<section id="company">
    <div class="company">
        <div class="container-fluid">
            <div class="container">
                <h3 class="title-company"><img src="images/icon-1.png" alt="">COMPANY <span class="bold">FACTS</span><img src="images/icon-2.png" alt=""></h3>
                <p class="txt-title">We do love to work and increase our counter numbers, this is what we’ve done till now</p>
                <div class="row">
                    <div class="col-lg-3 col-md-3">
                        <h3 class="fact"><div class="fact-1"></div><p class="count">218</p><div class="fact-2"></div></h3>
                        <div class="icon">
                            <div class="line"></div><span class="icon-checkbox-checked"></span><div class="line-1"></div>
                        </div>
                        <p class="txt"> COMPLETED PROJECTS</p>
                    </div>
                    <div class="col-lg-3 col-md-3">
                        <h3 class="fact"><div class="fact-1"></div><p class="count">360</p><div class="fact-2"></div></h3>
                        <div class="icon">
                            <div class="line"></div><span class="icon-checkbox-checked"></span><div class="line-1"></div>
                        </div>
                        <p class="txt">HOURS OF WORK <span class="txt-con">/MONTH</span></p>
                    </div>
                    <div class="col-lg-3 col-md-3">
                        <h3 class="fact"><div class="fact-1"></div><p class="count">135</p><div class="fact-2"></div></h3>
                        <div class="icon">
                            <div class="line"></div><span class="icon-checkbox-checked"></span><div class="line-1"></div>
                        </div>
                        <p class="txt">SOLVED TICKETS</p>
                    </div>
                    <div class="col-lg-3 col-md-3">
                        <h3 class="fact"><div class="fact-1"></div><p class="count">174</p><div class="fact-2"></div></h3>
                        <div class="icon">
                            <div class="line"></div><span class="icon-checkbox-checked"></span><div class="line-1"></div>
                        </div>
                        <p class="txt">SATISFIED CLIENTS</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</section>
<div class="container-fluid purchase">
    <div class="container">
        <div class="col-lg-6 col-md-6 left">
            <h3 class="title-pur">ARE YOU SATISFIED WITH UNLIMITED FEATURES THAT WE OFFER?</h3>
        </div>
        <div class="col-lg-6 col-md-6 right">
            <button class="btn btn-primary">CONTACT US NOW</button>
            <button class="btn btn-primary">PURCHASE IT NOW</button>
        </div>
    </div>
</div>