<section id="features">
    <div class="features">
        <div class="container">
            <h3 class="title-features"><div class="line"></div><img src="images/icon-1.png" alt="">AMAZING <span class="bold">FEATURES</span><img src="images/icon-2.png" alt=""><div class="line"></div></h3>
            <p class="txt-title">With unlimited features that we offer, we promise it’s possible to make everything that was impossible for you !</p>
            <div class="row">
                <div class="col-lg-5 col-md-5 feat">
                    <div class="col-lg-12 col-md-12">
                        <p><span class="icon icon-display"></span></p>
                        <div class="cont-feat">
                            <a href="">
                                <h3 class="title-item">RESPONSIVE & MULTIPURPOSE</h3>
                            </a>
                            <p class="txt-item">Proin in magna a ipsum viverra scelerisq enec turp, nunc vestibulum.</p>
                        </div> 
                    </div>
                    <div class="col-lg-12 col-md-12">
                        <p><span class="icon icon-puzzle-piece"></span></p>
                        <div class="cont-feat">
                            <a href="">
                                <h3 class="title-item">EASY CUSTOMIZATION</h3>
                            </a>
                            <p class="txt-item">Proin in magna a ipsum viverra scelerisq enec turp, nunc vestibulum.</p>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12">
                        <p><span class="icon icon-star-full"></span></p>
                        <div class="cont-feat">
                            <a href="">
                                <h3 class="title-item">UNLIMITED FEATURES</h3>
                            </a>
                            <p class="txt-item">Proin in magna a ipsum viverra scelerisq enec turp, nunc vestibulum.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-7 col-md-7 feat-right">
                    <img class="image" src="images/phone.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</section>