<section id="portfolio">
    <div class="portfolio">
        <div class="container">
            <h3 class="title-port"><div class="line"></div><img src="images/icon-1.png" alt="">WHAT WE <span class="bold">OFFER</span> <img src="images/icon-2.png" alt=""><div class="line"></div></h3>
            <p class="txt-title">We offer our customers the best services & solutions, this is our main services list</p>
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="ico">
                        <span class="icon icon-display"></span>
                    </div>
                    <a href=""><h3 class="title-item">RESPONSIVE & MULTIPURPOSE</h3></a>
                    <p class="txt-item">Proin in magna a ipsum viverra scelerisq enec turp, Nunc vestibulum fringilla accumsan ornare quis.</p>
                    <button class="btn btn-primary">READ MORE</button>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="ico">
                        <span class="icon icon-puzzle-piece"></span>
                    </div>
                    <a href=""><h3 class="title-item">EASY CUSTOMIZATION</h3></a>
                    <p class="txt-item">Proin in magna a ipsum viverra scelerisq enec turp, Nunc vestibulum fringilla accumsan ornare quis.</p>
                    <button class="btn btn-primary">READ MORE</button>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="ico">
                        <span class="icon icon-lifebuoy"></span>
                    </div>
                    <a href=""><h3 class="title-item">AWESOME FRIENDLY SUPPORT</h3></a>
                    <p class="txt-item">Proin in magna a ipsum viverra scelerisq enec turp, Nunc vestibulum fringilla accumsan ornare quis.</p>
                    <button class="btn btn-primary">READ MORE</button>
                </div>
            </div>
            <span class="key icon-key"></span>
        </div>
    </div>
    <div class="clearfix"></div>
</section>