<div class="power">
    <div class="container">
        <h3 class="title-power"><img src="images/icon-1.png" alt="">OUR POWERFUL <span class="bold">SKILL</span><img src="images/icon-2.png" alt=""></h3>
        <p class="txt-title">We’re good and experienced at different things and areas and we promise about qulity of our works</p>
        <div class="content">
            <a class="item" href="">
                <div class="custom-color">
                    
                </div>
                <p class="tit">WEB DESIGN</p>
            </a>
            <a class="item" href="">
                <div class="custom-color-1">
                    
                </div>
                <p class="tit">WEB DEVELOPMENT</p>
            </a>
            <a class="item" href="">
                <div class="custom-color-2">
                    
                </div>
                <p class="tit">SPEED OPTIMIZATION</p>
            </a>
            <a class="item" href="">
                <div class="custom-color-3">
                    
                </div>
                <p class="tit">CUSTOMER SUPPORT</p>
            </a>
            <a class="item" href="">
                <div class="custom-color-4">
                    
                </div>
                <p class="tit">MARKETING</p>
            </a>
            <a class="item" href="">
                <div class="custom-color-5">
                    
                </div>
                <p class="tit">ADVERTISEMENT</p>
            </a>
        </div>
    </div>
</div>
<div class="clearfix"></div>