<section id="price">
    <div class="price">
        <div class="container">
            <h3 class="title-price">
                <div class="line"></div>
                <img src="images/icon-1.png" alt="">REAL CHEAP <span class="bold">PRICES</span>
                <img src="images/icon-2.png" alt="">
                <div class="line"></div>
            </h3>
            <p class="txt-title">We offer all our services in real low prices in comparison with similar companies</p>
            <div class="row">
                <div class="col-lg-3 col-md-3">
                    <div class="item">
                        <button class="btn1 btn btn-primary" href="">STANDARD PLAN</button>
                        <h3 class="pri">
                            <span class="prices">$</span>19.
                            <sub class="sub">Monthly</sub>
                        </h3>
                        <div class="txt">
                            <p>5 Projects</p>
                            <p>5GB Stogare</p>
                            <p>Unlimited Users</p>
                            <p>10 GB Bandwith</p>
                            <p>Enhanced Security</p>
                        </div>
                        <button class="btn btn-primary">SIGN UP NOW</button>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3">
                    <div class="item">
                        <button class="btn1 btn btn-primary" href="">PREMIUM PLAN</button>
                        <h3 class="pri">29.
                            <sub class="sub">Monthly</sub>
                        </h3>
                        <div class="txt">
                            <p>5 Projects</p>
                            <p>5GB Stogare</p>
                            <p>Unlimited Users</p>
                            <p>10 GB Bandwith</p>
                            <p>Enhanced Security</p>
                        </div>
                        <button class="btn btn-primary">SIGN UP NOW</button>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3">
                    <div class="item">
                        <button class="btn12 btn btn-primary" href=""><i class="icon-star-full"></i>ADVANCED PLAN<i class="icon-star-full"></i></button>
                        <h3 class="pri">49.
                            <sub class="sub">Monthly</sub>
                        </h3>
                        <div class="txt">
                            <p>5 Projects</p>
                            <p>5GB Stogare</p>
                            <p>Unlimited Users</p>
                            <p>10 GB Bandwith</p>
                            <p>Enhanced Security</p>
                        </div>
                        <button class="btn btn-primary">SIGN UP NOW</button>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3">
                    <div class="item">
                        <button class="btn1 btn btn-primary" href="">ULTIMATE PLAN</button>
                        <h3 class="pri">99.
                            <sub class="sub">Monthly</sub>
                        </h3>
                        <div class="txt">
                            <p>5 Projects</p>
                            <p>5GB Stogare</p>
                            <p>Unlimited Users</p>
                            <p>10 GB Bandwith</p>
                            <p>Enhanced Security</p>
                        </div>
                        <button class="btn btn-primary">SIGN UP NOW</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</section>
<div class="container-fluid now">
    <div class="container">
        <div class="col-lg-6 col-md-6 left">
            <h3 class="title-now">Unique! We Do
                <span class="icon-heart"></span> It And Hope You Too</h3>
        </div>
        <div class="col-lg-6 col-md-6 right">
            <button class="btn btn-primary">PURCHASE IT NOW
                <span class="icon-cart"></span>
            </button>
        </div>
    </div>
</div>
<div class="clearfix"></div>