<div class="skill">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4">
                <div class="ico">
                    <div class="ar">
                        <span class="icon icon-display"></span>
                    </div>
                </div>
                <div class="content">
                    <a href="">
                        <h3 class="title-skill">RESPONSIVE & MULTIPURPOSE</h3>
                    </a>   
                    <p class="note">Desktops, Tablets & Phones</p>
                    <p class="txt">Proin in magna a ipsum viverra scelerisque eu nec turp, Nunc vestibulum fringilla accumsan. Praesent
                        arcu turpis.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="ico">
                    <span class="icon icon-display"></span>
                </div>
                <div class="content">
                    <a href="">
                        <h3 class="title-skill">RESPONSIVE & MULTIPURPOSE</h3>
                    </a>
                    <p class="note">Desktops, Tablets & Phones</p>
                    <p class="txt">Proin in magna a ipsum viverra scelerisque eu nec turp, Nunc vestibulum fringilla accumsan. Praesent
                        arcu turpis.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="ico">
                    <span class="icon icon-display"></span>
                </div>
                <div class="content">
                    <a href="">
                        <h3 class="title-skill">RESPONSIVE & MULTIPURPOSE</h3>
                    </a>
                    <p class="note">Desktops, Tablets & Phones</p>
                    <p class="txt">Proin in magna a ipsum viverra scelerisque eu nec turp, Nunc vestibulum fringilla accumsan. Praesent
                        arcu turpis.
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4">
                <div class="ico">
                    <span class="icon icon-display"></span>
                </div>
                <div class="content">
                    <a href="">
                        <h3 class="title-skill">RESPONSIVE & MULTIPURPOSE</h3>
                    </a>
                    <p class="note">Desktops, Tablets & Phones</p>
                    <p class="txt">Proin in magna a ipsum viverra scelerisque eu nec turp, Nunc vestibulum fringilla accumsan. Praesent
                        arcu turpis.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="ico">
                    <span class="icon icon-display"></span>
                </div>
                <div class="content">
                    <a href="">
                        <h3 class="title-skill">RESPONSIVE & MULTIPURPOSE</h3>
                    </a>
                    <p class="note">Desktops, Tablets & Phones</p>
                    <p class="txt">Proin in magna a ipsum viverra scelerisque eu nec turp, Nunc vestibulum fringilla accumsan. Praesent
                        arcu turpis.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="ico">
                    <span class="icon icon-display"></span>
                </div>
                <div class="content">
                    <a href="">
                        <h3 class="title-skill">RESPONSIVE & MULTIPURPOSE</h3>
                    </a>
                    <p class="note">Desktops, Tablets & Phones</p>
                    <p class="txt">Proin in magna a ipsum viverra scelerisque eu nec turp, Nunc vestibulum fringilla accumsan. Praesent
                        arcu turpis.
                    </p>
                </div>
            </div>
        </div>
        <span class="key icon-key"></span>
    </div>
</div>
<div class="clearfix"></div>