<section id="team">
    <div class="team">
        <div class="container">
            <h3 class="title-team">
                <div class="line"></div>
                <img src="images/icon-1.png" alt="">
                <span class="bold">TEAM</span> MEMBER
                <img src="images/icon-2.png" alt="">
                <div class="line"></div>
            </h3>
            <p class="txt-title">We’re some creative people with powerful knowledge & awesome skills behind the scene bringing you the bests</p>
            <div class="row">
                <div class="slider">
                    <div class="col-lg-3">
                        <div class="content">
                            <img src="images/image.png" alt="">
                            <button class="btn btn-primary">ALEXIS SIMPSON</button>
                            <div class="item">
                                <span class="ico">
                                    <i class="icon icon-facebook2"></i>
                                    <i class="icon icon-twitter"></i>
                                    <i class="icon icon-star-full"></i>
                                    <i class="icon icon-phone"></i>
                                    <i class="icon icon-envelop"></i>
                                </span>
                            </div>
                        </div>
                        <p class="name">CEO & Developer</p>
                        <p class="mail">
                            <span class="icon icon-envelop"></span>a.simpson@unique.com</p>
                        <p class="phone">
                            <span class="icon icon-phone"></span> +1 911 (77) 222-1111
                        </p>
                    </div>
                    <div class="col-lg-3">
                        <div class="content">
                            <img src="images/image.png" alt="">
                            <button class="btn btn-primary">ALEXIS SIMPSON</button>
                            <div class="item">
                                <span class="ico">
                                    <i class="icon icon-facebook2"></i>
                                    <i class="icon icon-twitter"></i>
                                    <i class="icon icon-star-full"></i>
                                    <i class="icon icon-phone"></i>
                                    <i class="icon icon-envelop"></i>
                                </span>
                            </div>
                        </div>
                        <p class="name">CEO & Developer</p>
                        <p class="mail">
                            <span class="icon icon-envelop"></span>a.simpson@unique.com</p>
                        <p class="phone">
                            <span class="icon icon-phone"></span> +1 911 (77) 222-1111</p>
                    </div>
                    <div class="col-lg-3">
                        <div class="content">
                            <img src="images/image.png" alt="">
                            <button class="btn btn-primary">ALEXIS SIMPSON</button>
                            <div class="item">
                                <span class="ico">
                                    <i class="icon icon-facebook2"></i>
                                    <i class="icon icon-twitter"></i>
                                    <i class="icon icon-star-full"></i>
                                    <i class="icon icon-phone"></i>
                                    <i class="icon icon-envelop"></i>
                                </span>
                            </div>
                        </div>
                        <p class="name">CEO & Developer</p>
                        <p class="mail">
                            <span class="icon icon-envelop"></span>a.simpson@unique.com</p>
                        <p class="phone">
                            <span class="icon icon-phone"></span> +1 911 (77) 222-1111</p>
                    </div>
                    <div class="col-lg-3">
                        <div class="content">
                            <img src="images/image.png" alt="">
                            <button class="btn btn-primary">ALEXIS SIMPSON</button>
                            <div class="item">
                                <span class="ico">
                                    <i class="icon icon-facebook2"></i>
                                    <i class="icon icon-twitter"></i>
                                    <i class="icon icon-star-full"></i>
                                    <i class="icon icon-phone"></i>
                                    <i class="icon icon-envelop"></i>
                                </span>
                            </div>
                        </div>
                        <p class="name">CEO & Developer</p>
                        <p class="mail">
                            <span class="icon icon-envelop"></span>a.simpson@unique.com</p>
                        <p class="phone">
                            <span class="icon icon-phone"></span> +1 911 (77) 222-1111</p>
                    </div>
                    <div class="col-lg-3">
                        <div class="content">
                            <img src="images/image.png" alt="">
                            <button class="btn btn-primary">ALEXIS SIMPSON</button>
                            <div class="item">
                                <span class="ico">
                                    <i class="icon icon-facebook2"></i>
                                    <i class="icon icon-twitter"></i>
                                    <i class="icon icon-star-full"></i>
                                    <i class="icon icon-phone"></i>
                                    <i class="icon icon-envelop"></i>
                                </span>
                            </div>
                        </div>
                        <p class="name">CEO & Developer</p>
                        <p class="mail">
                            <span class="icon icon-envelop"></span>a.simpson@unique.com</p>
                        <p class="phone">
                            <span class="icon icon-phone"></span> +1 911 (77) 222-1111
                        </p>
                    </div>
                    <div class="col-lg-3">
                        <div class="content">
                            <img src="images/image.png" alt="">
                            <button class="btn btn-primary">ALEXIS SIMPSON</button>
                            <div class="item">
                                <span class="ico">
                                    <i class="icon icon-facebook2"></i>
                                    <i class="icon icon-twitter"></i>
                                    <i class="icon icon-star-full"></i>
                                    <i class="icon icon-phone"></i>
                                    <i class="icon icon-envelop"></i>
                                </span>
                            </div>
                        </div>
                        <p class="name">CEO & Developer</p>
                        <p class="mail">
                            <span class="icon icon-envelop"></span>a.simpson@unique.com</p>
                        <p class="phone">
                            <span class="icon icon-phone"></span> +1 911 (77) 222-1111</p>
                    </div>
                </div>
            </div>
            <span class="key icon-key"></span>
        </div>
    </div>
    <div class="clearfix"></div>
</section>
<div class="intro">
    <div class="container-fluid">
        <div class="container">
            <div class="slider-1">
                <div class="container">
                    <button class="btn btn-primary">ALEXIS SIMPSON - CEO & Developer</button>
                    <p class="txt-intro"> Lorem ipsum dolor sit amet, laudantium, totam rem. Morbi sagittis, sem quis lacinia faucibus, orci ipsum
                        gravida tortor, vel interdum mi sapien ut justo consequat magna, id molestie ipsum volutpat quis.
                    </p>
                </div>
                <div class="container">
                    <button class="btn btn-primary">ALEXIS SIMPSON - CEO & Developer</button>
                    <p class="txt-intro"> Lorem ipsum dolor sit amet, laudantium, totam rem. Morbi sagittis, sem quis lacinia faucibus, orci ipsum
                        gravida tortor, vel interdum mi sapien ut justo consequat magna, id molestie ipsum volutpat quis.
                    </p>
                </div>
                <div class="container">
                    <button class="btn btn-primary">ALEXIS SIMPSON - CEO & Developer</button>
                    <p class="txt-intro"> Lorem ipsum dolor sit amet, laudantium, totam rem. Morbi sagittis, sem quis lacinia faucibus, orci ipsum
                        gravida tortor, vel interdum mi sapien ut justo consequat magna, id molestie ipsum volutpat quis.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="clearfix"></div>
<div class="product">
    <div class="container-fluid">
        <div class="container">
            <div class="slider-2">
                <div class="image">
                    <a href="">
                        <img class="products" src="images/scent.png" alt="">
                    </a>
                </div>
                <div class="image">
                    <a href="">
                        <img class="products" src="images/vivi.png" alt="">
                    </a>
                </div>
                <div class="image">
                    <a href="">
                        <img class="products" src="images/hob.png" alt="">
                    </a>
                </div>
                <div class="image">
                    <a href="">
                        <img class="products" src="images/bur.png" alt="">
                    </a>
                </div>
                <div class="image">
                    <a href="">
                        <img class="products" src="images/scent.png" alt="">
                    </a>
                </div>
                <div class="image">
                    <a href="">
                        <img class="products" src="images/vivi.png" alt="">
                    </a>
                </div>
                <div class="image">
                    <a href="">
                        <img class="products" src="images/hob.png" alt="">
                    </a>
                </div>
                <div class="image">
                    <a href="">
                        <img class="products" src="images/bur.png" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="clearfix"></div>