<section id="work">
    <div class="work">
        <div class="container-fluid">
            <h3 class="title-work">
                <div class="line"></div>
                <img src="images/icon-1.png" alt="">SAMPLE
                <span class="bold">WORKS</span>
                <img src="images/icon-2.png" alt="">
                <div class="line"></div>
            </h3>
            <p class="txt-title">Let’s take a look at some of the best of our works here, we love them and hope you too</p>
            <div class="row">
                <div class="col-lg-2 col-md-4 item-1">
                    <div class="item">
                        <!-- <img class="image-work" src="images/image.png" alt=""> -->
                        <div class="content-item">
                            <span>
                                <i class="icon icon-link"></i>
                                <i class="icon icon-search"></i>
                            </span>
                            <h3 class="title-item">Corporate Brochure</h3>
                            <p class="txt-item">Illustration / Print</p>
                            <span class="heart">
                                <i class="icon-heart">138</i>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 item-1">
                    <div class="item">
                        <!-- <img class="image-work" src="images/image.png" alt=""> -->
                        <div class="content-item">
                            <span>
                                <i class="icon icon-link"></i>
                                <i class="icon icon-search"></i>
                            </span>
                            <h3 class="title-item">Corporate Brochure</h3>
                            <p class="txt-item">Illustration / Print</p>
                            <span class="heart">
                                <i class="icon-heart">138</i>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 item-1">
                    <div class="item">
                        <!-- <img class="image-work" src="images/image.png" alt=""> -->
                        <div class="content-item">
                            <span>
                                <i class="icon icon-link"></i>
                                <i class="icon icon-search"></i>
                            </span>
                            <h3 class="title-item">Corporate Brochure</h3>
                            <p class="txt-item">Illustration / Print</p>
                            <span class="heart">
                                <i class="icon-heart">138</i>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 item-1">
                    <div class="item">
                        <!-- <img class="image-work" src="images/image.png" alt=""> -->
                        <div class="content-item">
                            <span>
                                <i class="icon icon-link"></i>
                                <i class="icon icon-search"></i>
                            </span>
                            <h3 class="title-item">Corporate Brochure</h3>
                            <p class="txt-item">Illustration / Print</p>
                            <span class="heart">
                                <i class="icon-heart">138</i>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 item-1">
                    <div class="item">
                        <!-- <img class="image-work" src="images/image.png" alt=""> -->
                        <div class="content-item">
                            <span>
                                <i class="icon icon-link"></i>
                                <i class="icon icon-search"></i>
                            </span>
                            <h3 class="title-item">Corporate Brochure</h3>
                            <p class="txt-item">Illustration / Print</p>
                            <span class="heart">
                                <i class="icon-heart">138</i>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 item-1">
                    <div class="item">
                        <!-- <img class="image-work" src="images/image.png" alt=""> -->
                        <div class="content-item">
                            <span>
                                <i class="icon icon-link"></i>
                                <i class="icon icon-search"></i>
                            </span>
                            <h3 class="title-item">Corporate Brochure</h3>
                            <p class="txt-item">Illustration / Print</p>
                            <span class="heart">
                                <i class="icon-heart">138</i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-2 col-md-4 item-1">
                    <div class="item">
                        <!-- <img class="image-work" src="images/image.png" alt=""> -->
                        <div class="content-item">
                            <span>
                                <i class="icon icon-link"></i>
                                <i class="icon icon-search"></i>
                            </span>
                            <h3 class="title-item">Corporate Brochure</h3>
                            <p class="txt-item">Illustration / Print</p>
                            <span class="heart">
                                <i class="icon-heart">138</i>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 item-1">
                    <div class="item">
                        <!-- <img class="image-work" src="images/image.png" alt=""> -->
                        <div class="content-item">
                            <span>
                                <i class="icon icon-link"></i>
                                <i class="icon icon-search"></i>
                            </span>
                            <h3 class="title-item">Corporate Brochure</h3>
                            <p class="txt-item">Illustration / Print</p>
                            <span class="heart">
                                <i class="icon-heart">138</i>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 item-1">
                    <div class="item">
                        <!-- <img class="image-work" src="images/image.png" alt=""> -->
                        <div class="content-item">
                            <span>
                                <i class="icon icon-link"></i>
                                <i class="icon icon-search"></i>
                            </span>
                            <h3 class="title-item">Corporate Brochure</h3>
                            <p class="txt-item">Illustration / Print</p>
                            <span class="heart">
                                <i class="icon-heart">138</i>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 item-1">
                    <div class="item">
                        <!-- <img class="image-work" src="images/image.png" alt=""> -->
                        <div class="content-item">
                            <span>
                                <i class="icon icon-link"></i>
                                <i class="icon icon-search"></i>
                            </span>
                            <h3 class="title-item">Corporate Brochure</h3>
                            <p class="txt-item">Illustration / Print</p>
                            <span class="heart">
                                <i class="icon-heart">138</i>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 item-1">
                    <div class="item">
                        <!-- <img class="image-work" src="images/image.png" alt=""> -->
                        <div class="content-item">
                            <span>
                                <i class="icon icon-link"></i>
                                <i class="icon icon-search"></i>
                            </span>
                            <h3 class="title-item">Corporate Brochure</h3>
                            <p class="txt-item">Illustration / Print</p>
                            <span class="heart">
                                <i class="icon-heart">138</i>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 item-1">
                    <div class="item">
                        <!-- <img class="image-work" src="images/image.png" alt=""> -->
                        <div class="content-item">
                            <span>
                                <i class="icon icon-link"></i>
                                <i class="icon icon-search"></i>
                            </span>
                            <h3 class="title-item">Corporate Brochure</h3>
                            <p class="txt-item">Illustration / Print</p>
                            <span class="heart">
                                <i class="icon-heart">138</i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <a class="btn btn-primary" href="">VIEW ALL WORKS</a>
            </div>
        </div>
        <span class="key icon-key"></span>
    </div>
    <div class="clearfix"></div>
</section>