<!-- build:css(.) style/vendor.min.css -->
<link rel="stylesheet" type="text/css" media="screen" href="node_modules/bootstrap/dist/css/bootstrap.css" />
<!-- endbuild -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
<!-- build:css(.tmp) style/style.min.css -->
<link rel="stylesheet" type="text/css" media="screen" href="styles/main.css" />
<!-- endbuild -->